In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [3]:
hotel_file = '~/code/Datalytics/DataFiles/Hotels/city_hotel_features.txt'

hotel = pd.read_csv(hotel_file, delimiter='\t')
hotel.head()
hotel['feature_list'] = [f.split() for f in hotel['Features']]
hotel['feature_list'] = hotel['feature_list']

In [4]:
features_file = '~/code/Datalytics/DataFiles/Hotels/features.txt'
features = pd.read_csv(features_file, delimiter='\t')
features.head()
# features_length = len(features['ID']) - 1

   ID        Feature_Name
0   0                   A
1   1           Authentic
2   2         Afghanistan
3   3             African
4   4  After Hours Dining

In [5]:
s = Series(hotel['feature_list'])
features_list = pd.get_dummies(s.apply(pd.Series).stack()).sum(level=0)

In [6]:
a = pd.concat([hotel, features_list], axis=1)
a.head()

,Hotel_Name,City_Name,Features,feature_list,000,001,002,003,004,005,...,246,247,248,249,250,251,252,253,254,256
0,Tanner's,atlanta,100 253 250 178 174 063 059 036 008 074 204 05...,"[100, 253, 250, 178, 174, 063, 059, 036, 008, ...",0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,Frijoleros,atlanta,250 062 132 174 063 197 071 142 234 243 075 20...,"[250, 062, 132, 174, 063, 197, 071, 142, 234, ...",0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,Indian Delights,atlanta,253 250 150 174 083 059 036 117 243 076 205 05...,"[253, 250, 150, 174, 083, 059, 036, 117, 243, ...",0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,Great Wall,atlanta,253 191 192 174 036 039 075 204 052 163,"[253, 191, 192, 174, 036, 039, 075, 204, 052, ...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,The Brickery,atlanta,100 253 086 231 250 191 192 059 036 215 005 00...,"[100, 253, 086, 231, 250, 191, 192, 059, 036, ...",0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0

In [7]:
a.drop(['Features', 'feature_list'], axis=1, inplace=True)

In [8]:
a.head()

,Hotel_Name,City_Name,000,001,002,003,004,005,006,007,...,246,247,248,249,250,251,252,253,254,256
0,Tanner's,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,Frijoleros,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,Indian Delights,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,Great Wall,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,The Brickery,atlanta,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0

In [11]:
import copy

b = copy.deepcopy(a)
b['Total'] = a.sum(axis=1)

In [13]:
b

,Hotel_Name,City_Name,000,001,002,003,004,005,006,007,...,247,248,249,250,251,252,253,254,256,Total
0,Tanner's,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,13
1,Frijoleros,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,14
2,Indian Delights,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,13
3,Great Wall,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,10
4,The Brickery,atlanta,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,16
5,Lawrence's Cafe,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,15
6,Harold's Barbecue,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,10
7,Zab-E-Lee,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
8,The Dessert Place,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
9,Cafe Diem,atlanta,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,13
10,El Charro,atlanta,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,13
11,Kurt's at River Manor,atlanta,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,13
12,Peggy Sue's Diner,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,15
13,Pars,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,12
14,Le Rendez-Vous,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,14
15,Rockbridge Diner,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,11
16,Chefs' Grill,atlanta,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,17
17,Jonathan Lee's,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,14
18,The Country Place,atlanta,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,18
19,Hama's,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,9
20,Raja Indian Restaurant,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,11
21,PRICCI,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,15
22,Pittypat's Porch,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,17
23,Houston's,atlanta,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,14
24,Azio,atlanta,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,15
25,Banks,atlanta,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,7
26,ABRUZZI RISTORANTE,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,18
27,Rio Bravo Cantina,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,16
28,Savannah Fish Company,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,11
29,Lombardi's,atlanta,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4130,T.G.I. Friday's,washington_dc,0,0,0,0,1,1,0,0,...,0,0,0,1,0,1,1,0,0,20
4131,Willow Grove Inn,washington_dc,0,0,0,0,0,1,0,1,...,0,1,0,1,0,0,0,0,0,20
4132,Cottonwood Cafe,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,0,17
4133,Kazan,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,10
4134,Mrs. Simpson's,washington_dc,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,15
4135,Hsiang Foong,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,0,9
4136,Sfuzzi,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,19
4137,Mike's American Grill,washington_dc,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,1,0,0,15
4138,Georgetown Seafood Grill,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,13
4139,NORA,washington_dc,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,14
4140,Dfouny,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,0,14
4141,Louisiana Express Company,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,15
4142,Appetizer Plus,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,1,0,11
4143,Jaleo,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,0,17
4144,Hibiscus Cafe,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,1,0,18
4145,Cafe Berlin,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,10
4146,West End Cafe,washington_dc,0,0,0,0,0,1,0,1,...,0,0,0,1,0,1,1,0,0,23
4147,Tara Thai,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,0,12
4148,Chesapeake Seafood,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,12
4149,Inn at Glen Echo,washington_dc,0,0,0,0,0,1,0,0,...,0,0,0,1,0,1,1,0,0,23
4150,Clyde's,washington_dc,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,30
4151,Austin GrilL,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,18
4152,Generous George's,washington_dc,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,1,1,0,19
4153,Four & Twenty Blackbirds,washington_dc,0,0,0,0,0,1,0,0,...,0,1,0,1,0,1,0,0,0,19
4154,Hisago,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,13
4155,La Fourchette,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,16
4156,Provence,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,20
4157,Taipei Tokyo Cafe,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,0,14
4158,Thai Flavor,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,10
4159,Dusit,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,0,9

In [111]:
writer = pd.ExcelWriter('output.xlsx')
b.to_excel(writer,'Sheet1')
writer.save()